<div style = "padding-top:5%;  text-align:center; margin:0 auto;">

<h5 style = "color:#e74c3c" >이미 존재하는 이름입니다.</h5>

<p>다시 만드시려면 이름 뒤에 문자열을 붙이시던지, 기존의 이름이랑 다르게 만들어주세요.</p>



</div>





<br>
<a href="/mt/write" class = "btn btn-large btn-block btn-danger">돌아가기</a>
<br>


<br><Br>



<br><br>

