<div style = "padding-top:5%;  text-align:center; margin:0 auto;">

<h5 style = "color:#1abc9c;" >멋쟁이 사자처럼 엠티<br><span style = "font-size:70%;">likelion MT</span></h5>

</div>
<br>
<div style = "TEXT-INDENT:3%;">
<p> 안녕하세요? 멋쟁이 사자처럼 엠티 준비 위원회 (이하 엠준위) 위원장 김길호, 부위원장 전민영입니다. </p>
<p>엠티의 본래 의미가 Membership Training 인 만큼, 서로를 더 알아가고 친해지는 계기가 되었으면 좋겠습니다.</p>
<p>그래서 저희 엠준위에서는 엠티의 의미를 살리기 위한 게임들을 준비하고 있는데요, 게임을 준비함에 있어 여러분의 도움이 필요합니다.</p>
<p>여러분의 이야기를 저희에게 제공해 주시는 것에 동의하시면 아래의 버튼을 눌러주세요. 제공해 주신 이야기들로 저희가 퀴즈를 만들 예정입니다.</p>
<br><br>

<a href="/mt/list" class = "btn btn-block btn-primary">동의합니다.</a>

</div>



