<div style = "padding-top:5%;  text-align:center; margin:0 auto;">

<h5 style = "color:#3498db" >참여해주셔서 감사합니다!</h5>

</div>
<br>
<div style = "TEXT-INDENT:3%;">
<p>아래의 '내용 작성하기' 버튼을 누르시고 질문에 답변을 해 주세요.</p>

</p>
<p> 내용이 제대로 작성 되었는지 확인하시려면 '내가 쓴 내용 확인' 버튼을 눌러주세요.</p>

<br><br>

<a href="/mt/write" class = "btn btn-block btn-info"> 내용 작성하기</a>
<br>
<a href="/mt/login" class = "btn btn-block btn-inverse" > 내가 쓴 내용 확인</a>


</div>



