<div style = "padding-top:5%;  text-align:center; margin:0 auto;">

<h5 style = "color:#2ccc71" >내 정보가 잘 올라갔는지 확인하기</h5>

</div>
<br>
<p>업로드 할 때 사용했던 이름과 암호를 입력해주세요~</p>

<br>
<form action="/mt/login_process" method = "POST">
<input type = "text" value placeholder="이름" name = "usname" class = "span3" style = "width:50%">
<input type = "password" name = "passwd" class = "span3"  style = "width:70%;"> 암호
<br>
<br>
<input type = "submit" value = "확인" class = "btn btn-block btn-success">
</form>


<br><br>

