<div style = "padding-top:5%;  text-align:center; margin:0 auto;">

<h5 style = "color:#2ccc71" >참여해주셔서 감사합니다!</h5>

</div>
<br>
<p>아래 질문에 답변을 해주시고 '다음단계로' 버튼을 눌러주세요!</p>

<br>
<form action="/mt/secret" method = "POST">
<input type = "text" value placeholder="이름" name = "usname" class = "span3" style = "width:50%">
<input type = "password" name = "passwd" class = "span3"  style = "width:70%;"> 암호
<input type = "text" value placeholder="본인과 가장 닮은 동물은?" name = "animal" class = "span3">
<br>
<br>

<p>본인이 살아오면서 특별한 경험을 하신 적이 있으시면 적어주세요. 아직 멋사인들에게 말하지 않았던 것들요. 생각나는게 없으시면 다음 예시들을 참고해서 적어주세요. (ex. 나의 첫키스 장소는 버스정류장이다. 내가 어릴적 받았던 특별한 선물은... 나의 어릴적 별명은...)</p>

<textarea rows = "3" placeholder = "특별한 경험..." name = "story" class = "span12"></textarea>
<br><Br>
<input type = "submit" value = "다음 단계로" class = "btn btn-block btn-success">
</form>


<br><br>

