// Place all the styles related to the mt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h5 {
  font-size:200%;
}


p {
  font-size:100%;
}
